{% extends "layout.html" %}

{% block title %}
    Nexus
{% endblock %}

{% block main %}
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-12">
            <img src="/static/image.png" class="main_image mx-auto d-block" alt="image of water representing the unconscious">
        </div>
    </div>
    <div class="row justify-content-center text-center mt-5 mb-5">
        <div class="col-9" id="poem_type" data-poem-type="">
            <p class="h2 lines" id="line1"></p>
            <p class="h2 lines" id="line2"></p>
            <p class="h2 lines" id="line3"></p>
        </div>
        <div>
            <button id="likeButton" class="btn btn-default swap mt-2">
                <i class="bi bi-heart"> </i>
            </button>
            <button class="btn btn-default mt-2" type="button" id="customizeButton" data-bs-toggle="modal" data-bs-target="#customizeModal">
                <i class="bi bi-pencil" id="pencilIcon"></i>
            </button>
        </div>
    </div>

    {% if get_flashed_messages() %}
    <div class="row justify-content-center">
        <div class="col-3 text-center flash-message mb-3" role="alert">
            {{ get_flashed_messages() | join(" ") }}: "{{ line }}"
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center text-center">
        <div class="col-6">
            <form action="/entry" method="post">
                <div class="input-group mb-2">
                    <input type="text" name="line" placeholder="checkout the tooltip" class="form-control placeholder-text">
                    <button class="btn" type="button" id="tooltipButton" data-bs-toggle="modal" data-bs-target="#tooltipModal">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </div>
                <button class="btn mt-2" type="submit">Cast</button>
            </form>
        </div>
    </div>

    <!-- Customize Modal -->
    <div class="modal fade" id="customizeModal" tabindex="-1" aria-labelledby="customizeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customizeModalLabel">Select a Line (checkout tooltip first)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search your lines...">
                    <div class="list-group" id="userLinesList" style="max-height: 300px; overflow-y: auto;">
                        <!-- User lines will be appended here -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveSelectedLine">Save</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Tooltip Modal -->
    <div class="modal fade" id="tooltipModal" tabindex="-1" aria-labelledby="tooltipModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="tooltipModalLabel">What is this?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              This is an experiment to see if 3 randomly selected lines shared by participants can become a poem you find meaningful.<br>
              My intention is to point to interconnectedness (with/without, comes/no) and synchronicity (randomly assembled poem that you find meaningful).<br>
              Originally, I was playing with the idea of self-organized poems but that became too complicated and I wanted to start with something simpler.<br>
              <br>
              As a participant, you get to share 1 line but you must follow 1 of 2 formats.<br>
              1: With (word), comes (word); (1-4 words)<br>
              2: Without (word), no (word); (1-4 words)<br>
              [case insensitive — don't forget the comma and semicolon!]<br>
              <br>
              I hope you find this kind of fun ^^<br>
              If you want to have the poem display at least 1 of your line, click the pencil<br>
              Currently there are ~100 lines are 99% were generated by GPT
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="input-group mb-3">
        <span class="input-group-text">Without</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
        <span class="input-group-text">, no </span>
        <input type="text" class="form-control" placeholder="Server" aria-label="Server">
        <button class="btn mt-3" type="submit">Cast</button>
      </div> -->
      


    
<script> 
   $(document).ready(function() {
    let selectedLineId = null;
    let fetchInterval = null;

    // Function to fetch lines from the server
    function fetchLines(selectedLineId = null) {
        let url = '/get_entries';
        if (selectedLineId) {
            url += `?poemID=${selectedLineId}&customize=1`;
        }
        fetch(url)
            .then(response => response.json())
            .then(data => {
                // Set the identifier in line0
                $('#poem_type').data('poemType', data.lines[0].poem_type);

                // Apply the pop animation class to lines 1, 2, and 3
                $('#line1, #line2, #line3').addClass('pop');

                // Remove the pop class after animation and update content
                setTimeout(() => {
                    updateLineContent('line1', data.lines[1].line, data.lines[1].id);
                    updateLineContent('line2', data.lines[2].line, data.lines[2].id);
                    updateLineContent('line3', data.lines[3].line, data.lines[3].id);

                    // Update the like button based on liked status
                    updateLikeButton(data.liked, data.likes);
                }, 600); // 600ms matches the duration of the pop animation
            })
            .catch(error => console.error('Error fetching lines:', error));
    }

    function updateLineContent(elementId, text, id) {
        const lineElement = $(`#${elementId}`);
        lineElement.empty(); // Clear previous content
        lineElement.removeClass('pop');
        lineElement.data('lineId', id); // Set the data-line-id attribute with the line ID
        lineElement.data('lineText', text); // Set the data-line-text attribute with the line text

        // Split text into letters and spaces, and wrap each letter in a span
        const letters = text.split('');
        const indices = Array.from(letters.keys());
        shuffle(indices);

        letters.forEach((letter, i) => {
            const span = $('<span>').text(letter);
            if (letter === ' ') {
                span.addClass('space');
            } else {
                span.addClass('letter').css('animation', `letter-appear 1s ${indices[i] * 0.07}s forwards`);
            }
            lineElement.append(span);
        });
        lineElement.addClass('bubble-up');
    }

    function updateLikeButton(liked, likeCounter) {
        const likeButtonIcon = $('#likeButton i');
        const likeButton = $('#likeButton');

        if (liked) {
            likeButtonIcon.addClass('bi-heart-fill').removeClass('bi-heart');
            likeButton.addClass('swap');
        } else {
            likeButtonIcon.addClass('bi-heart').removeClass('bi-heart-fill');
            likeButton.addClass('swap'); // Ensure the swap class is always applied
        }

        likeButtonIcon.text(likeCounter > 0 ? ` ${likeCounter}` : '');
    }

    function shuffle(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
    }

    function setupFetchInterval(selectedLineId = null) {
        clearInterval(fetchInterval);
        fetchInterval = setInterval(() => {
            fetchLines(selectedLineId);
        }, 15600); // 15 seconds + 600ms pop animation
    }

    function setupCustomizeModal() {
        $('#customizeButton').on('click', function() {
    // Clear the search input when the modal is opened
    $('#searchInput').val('');

    // Reset the selected line and icon when the modal is opened
    selectedLineId = null;
    $('#pencilIcon').removeClass('bi-pencil-fill').addClass('bi-pencil');
    $('.list-group-item').removeClass('active');

    $.ajax({
        url: '/customize',
        type: 'POST',
        success: function(data) {
            const userLinesList = $('#userLinesList');
            userLinesList.empty(); // Clear previous entries
            data.forEach(line => {
                userLinesList.append(
                    `<a href="#" class="list-group-item list-group-item-action" data-line-id="${line.id}">
                        ${line.line}
                    </a>`
                );
            });

            // Handle line selection
            $('.list-group-item').on('click', function() {
                $('.list-group-item').removeClass('active');
                $(this).addClass('active');
                selectedLineId = $(this).data('line-id');
            });

            // Search functionality
            $('#searchInput').on('input', function() {
                const searchText = $(this).val().toLowerCase();
                $('.list-group-item').each(function() {
                    const lineText = $(this).text().toLowerCase();
                    $(this).toggle(lineText.includes(searchText));
                });
            });
        },
        error: function() {
            alert('Error fetching user data');
        }
    });

    setupFetchInterval(); // Reset to fetch without any specific line
    });

        $('#saveSelectedLine').on('click', function() {
            if (selectedLineId) {
                fetchLines(selectedLineId);
                $('#customizeModal').modal('hide');
                $('#pencilIcon').removeClass('bi-pencil').addClass('bi-pencil-fill');
                setupFetchInterval(selectedLineId); // Set interval to fetch with the selected line
            } else {
                alert('Please select a line');
            }
        });
    }

    function setupLikeButton() {
        $('#likeButton').on('click', function() {
            const poemType = $('#poem_type').data('poemType');
            const line1Id = $('#line1').data('lineId');
            const line1Text = $('#line1').data('lineText');
            const line2Id = $('#line2').data('lineId');
            const line2Text = $('#line2').data('lineText');
            const line3Id = $('#line3').data('lineId');
            const line3Text = $('#line3').data('lineText');

            $.ajax({
                url: '/like',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    poem_type: poemType,
                    lines: [
                        { id: line1Id, text: line1Text },
                        { id: line2Id, text: line2Text },
                        { id: line3Id, text: line3Text }
                    ]
                }),
                success: function(response) {
                    if (response.success) {
                        let likeCounter = parseInt($('#likeButton i').text()) || 0;
                        likeCounter = response.liked ? likeCounter + 1 : likeCounter - 1;
                        updateLikeButton(response.liked, likeCounter);
                    } else {
                        alert('Error liking lines');
                    }
                },
                error: function() {
                    alert('Error liking lines');
                }
            });
        });
    }

    // Initial setup
    fetchLines();
    setupFetchInterval();
    setupCustomizeModal();
    setupLikeButton();
});

</script>



{% endblock %}


