{% extends "layout.html" %}

{% block main %}
    <form action="/account" method="post">
      <div class="row justify-content-center mb-3">
        <h2>Change Password</h2>
        <div class="col-2 text-end">
          <label class="col-form-label">Current Password:</label>
        </div>
        <div class="col-2">
          <input type="password" name="password" class="form-control" autocomplete="off" autofocus>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-2 text-end">
          <label class="col-form-label">New Password:</label>
        </div>
        <div class="col-2">
          <input type="password" name="newPassword" class="form-control">
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-2 text-end">
          <label class="col-form-label">Confirm New Password:</label>
        </div>
        <div class="col-2">
          <input type="password" name="confirmation" class="form-control">
        </div>
      </div>
      <button class="btn btn-primary mb-3" type="submit" name="accountPassword" value="1">Change Password</button>
    </form>
    <hr>
    <form action="/account" method="post">
      <div class="row justify-content-center ">
        <div class="col-12 mb-3">
          <h2>Answer math question to increase cash balance by $10,000</h1>
          <h2>Incorrect answer wipes your cash balance!</h2>
          <h3>Question: {{ expression }}?</h3>
        </div>
        <div class="col-1 text-end mb-3">
          <label class="col-form-label">Answer</label>
        </div>
        <div class="col-1 mb-3">
          <input type="number" name="answer" class="form-control">
        </div>
      </div>
      <button class="btn btn-primary mb-3" type="submit" name="accountBalance" value="1">Submit Answer</button>
    </form>
{% endblock %}
