{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Buy/Sell</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td class="text-start">{{ transaction.Symbol }}</td>
                <td class="text-end">{{ transaction.Type }}</td>
                <td class="text-end">{{ transaction.Shares }}</td>
                <td class="text-end">{{ transaction.Price | usd }}</td>
                <td class="text-end">{{ transaction.Date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
