{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(sum=0) %}
            {% for holding in holdings %}
            {% set ns.sum = ns.sum + (holding.Shares * holding.Price) %}
            <tr>
                <td class="text-start">{{ holding.Symbol }}</td>
                <td class="text-end">{{ holding.Shares }}</td>
                <td class="text-end">{{ holding.Price | usd }}</td>
                <td class="text-end">{{ (holding.Shares * holding.Price) | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash_balance | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ (cash_balance + ns.sum) | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}

